<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC
      "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
      "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/dqmc</property>
		<property name="hibernate.connection.username">dqmc</property>
		<property name="hibernate.connection.password">dqmc123</property>
		
		<mapping class="org.training.model.City"></mapping>
		
	</session-factory>
</hibernate-configuration>